<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Fail Signup</title>
</head>
<body>

    <div class="container mx-auto">
        <div class="row mt-5">
            <div class="col-3"></div>
            <div class="col-6 form-group alert-danger border border-dark rounded pt-4 px-4 pb-4 text-center">
                <h2>USER ERROR SIGNUP</h2>
                <h4><%= error  %> </h4>
                <a class="btn btn-warning" href="/auth/signup">Back</a>
                
            </div>
            <div class="col-3"></div>
        </div>
      
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>