<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Product List</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid ">
          <a class="navbar-brand mx-auto " href="#">Product List</a>
        </div>
        
    </nav>
    
    <div class="container mx-auto">
        <div class="row mt-5">

            <div class="col-2"></div>

            <div class="col-8">
                <table class="table table-dark table-hover">
                    <thead class=" ">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col" class="text-center">Image</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                          
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
    function loadFirstData() {
        fetch('/api/products-test', { method: 'POST' })
            .then((data) => data.json())
            .then((products) => {
                loadDataToTbody(products.products);
            })
            .catch((e) => alert(e));

        function loadDataToTbody(products) {
            const tbody = document.getElementById('tbody');

            products.forEach((product) => {
                tbody.innerHTML += `<tr>
                                    <td>${product.id}</td>
                                    <td>${product.name}</td>
                                    <td>$${product.price}</td>
                                    <td class="text-center"> <img src="${product.image}" class="img-thumbnail" alt="thumbnail" style="heitght: 100px; width:100px;"></td>
                                </tr>
                                `;
            });
        }
    }
    loadFirstData();
    </script>
</body>
</html>